@import "tailwindcss";
@plugin "daisyui" {
  themes: light -- default, dark -- prefersdark, synthwave;
}

@layer components {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }

  .main__container {
    @apply mx-auto max-w-6xl px-5;
  }
  .modal__box {
    max-width: 800px;
    width: 100%;
    padding: 10px;
    height: 400px;
    /* border: 10px solid black; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
